.notFound {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
}

.notFound h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.4rem;
    letter-spacing: .1rem;
    color: var(--color-dark-1);
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.notFound__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    padding: 1rem;
    border: 1px solid var(--color-primary);
    border-radius: .5rem;
    letter-spacing: .1rem;
    background: transparent;
    color: var(--color-primary);
    transition: all .3s;
}

.notFound__link:hover {
    color: var(--color-white);
    background: var(--color-primary);
}

@media only screen and (max-width: 600px) {
    .notFound h1 {
        font-size: 2.8rem;
        line-height: 2.5rem;
    }
}